.App {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  justify-content: left;
}

.cellContainer {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  justify-content: center;
}

.cell {
  flex: 0 0 32%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 100px;
  width: 200px;
  margin-bottom: 5px;
  background-color: whitesmoke;
}

form {
  display: flex;
}

.linkAppearance {
  background: none!important;
  width: 200px;
  border: none;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.backToStartButton {
  display: flex;
  flex-direction: column;
}